

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin-top: 50px;
  
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
@media screen and (max-width: 640px){
   h3{
    font-size: 25px;     
} 
}
@media screen and (max-width: 445px){
    h3{
     font-size: 20px;     
 } 
 }
 @media screen and (max-width: 355px){
    h3{
     font-size: 15px;     
 } 
 }