.new-itinerary-container{
    width: 50vw;
    height: 100%;
}
.new-itinerary-form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    height: 100%;
    background: rgb(230, 222, 222);
}

.new-itinerary-title {
    text-align: center;
    font-size: 3rem;
}

.new-itinerary-form>input {
    margin: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    transition: 350ms ease-in-out;
}

.new-itinerary-form>input:hover {
    background: rgb(203, 203, 203);
}

.new-itinerary-form>input:focus {
    background: rgb(203, 203, 203)
}

.save-itinerary-new-button {
    color: #fff;
    font-size: 2rem;
    background: rgb(35, 34, 34);
    width: 100px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
    transition: 350ms ease-in-out;
}

.save-itinerary-new-button:hover{
    transform: scale(1.05);
}