.checkbox-container {
  text-align: center;
  padding-top: 20rem;
}

.containerCardsHotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
  min-height: 100vh;
  padding-top: 10rem;
  
  }
    
  * {
    font-family: "Poppins", sans-serif;
  }
  .cardsIndividual {
    height: 450px;
    width: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

  }
  
  .titleHotel {
    color: white;
    font-size: 24px;
    margin: 10px;
    display: inline-block;
  }
  
  .descriptionHotel {
    color: white;
    font-weight: 400;
    font-size: 16px;
    align-self: end;
    margin: 0 0 20px 20px;
    letter-spacing: 0.5px;
  }
  
  .imgCardHotel{
    position: absolute;
    top: 0;
    height: 110%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    filter: brightness(0.5);
  }

  .imgCardHotel:hover {
    filter: brightness(1.0);
  }
  
  .cardsIndividual:hover {
    transform: scale(1.035, 1.035);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

  }
  
  .cardsIndividual:hover img {
    transform: translateY(-10px);
    
  }
  @media screen and (max-width:510px){
    .cardsIndividual{
      height: 250px;
     width: 350px;
    }
  }
  @media screen and (max-width:375px){
    .cardsIndividual{
      height: 200px;
     width: 250px;
    }

  }


  /* Search Bar */


  .maino{
    width: 100%;
  }
  .maino, .search-btn, .inputi {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
  }
  .maino, .inputi {
    color: #f1f1f1;
  }
  .maino, .search-bar {
    display: flex;
  }
  
  .search-bar .inputi,
  .search-btn, 
  .search-btn:before, 
  .search-btn:after {
    transition: all 0.25s ease-out;
  }
  .search-bar .inputi,
  .search-btn {
    width: 3em;
    height: 3em;
  }
  .search-bar .inputi:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search-bar,
  .search-bar .inputi:focus,
  .search-bar .inputi:valid  {
    width: 100%;
  }
  .search-bar .inputi:focus,
  .search-bar .inputi:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search-bar {
    margin: auto;
      margin-top: 100px;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
  }
  
  .search-bar .inputi {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar .inputi::-webkit-search-decoration {
    --webkit-appearance: none;
  }
  .search-bar .inputi:focus,
  .search-bar .inputi:valid {
    background: rgb(25, 25, 25);
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #1c1c1c inset;
    transform: scale(1);
  }
  .search-btn {
    background: #222222;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
  }
  .search-btn:before, 
  .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .search-btn:after {
    background: #ececec;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-btn .spanSearch {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  /* Active state */
  .search-bar .inputi:focus + .search-btn,
  .search-bar .inputi:valid + .search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .search-bar .inputi:focus + .search-btn:before, 
  .search-bar .inputi:focus + .search-btn:after,
  .search-bar .inputi:valid + .search-btn:before, 
  .search-bar .inputi:valid + .search-btn:after {
    opacity: 1;
  }
  .search-bar .inputi:focus + .search-btn:hover,
  .search-bar .inputi:valid + .search-btn:hover,
  .search-bar .inputi:valid:not(:focus) + .search-btn:focus {
    background: #0c48db;
  }
  .search-bar .inputi:focus + .search-btn:active,
  .search-bar .inputi:valid + .search-btn:active {
    transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    .maino, .inputi {
      color: #dadada;
    }
  
    .search-bar .inputi {
      box-shadow: 0 0 0 0.4em #232323 inset;
    }
    .search-bar .inputi:focus,
    .search-bar .inputi:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #2c2c2c;
    }
  }
  .noCities{
    text-align: center;
    height: 30vh;
  }