* {
    margin: 0;
    padding: 0;
}

.city-details-container {
    height: 100%;
    width: 100%;
    position: relative;

}

.city-details-banner .city-details-banner-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.details-title {
    font-size: 5rem;
    letter-spacing: 5px;
    text-align: center;
    background-color: #0f0f0fc3;
    color: white;
    margin-top: -10px;
}



.info-details {
    text-align: center;
    display: block;
    flex-direction:column ;
    font-size: 2.8rem;
}