.imgcarousel{
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 10px;
    margin-top: 30px;
  filter: brightness(0.5);
--webkit-transition: 0.10s;
}
.imgcarousel:hover{
    filter: blur(1px);
    transition: 500ms ease-in-out;
}
.absolute {
    position: absolute;
    z-index: 1;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

@media screen and (max-width: 860px){
    .imgcarousel{
        height: 150px;
        width: 250px;
    }

    .absolute{
        font-size: 16px;
    }
}
@media screen and (max-width: 550px){
    .imgcarousel{
        height: 100px;
        width: 150px;
    }

    .absolute{
        font-size: 12px;
    }
}
@media screen and (max-width: 350px){
    .imgcarousel{
        height: 100px;
        width: 100px;
    }
    .absolute{
        font-size: 8px;
    }
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    transition: 500ms ease-in-out;


}


.btn-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.arrow {
    cursor: pointer;
}

