.itinerary-container {
    text-align: center;
    height: 100%;
}

.messi-chiquito {
    height: 400px;
    width: 80%;
  object-fit: cover;
}

.user-comment-container {
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    height: 100%;
    width: 70%;
    font-size: 2rem;
    margin: 0 auto;
    padding: 20px;
}

.comment-imput {
    width: 70%;
    height: 50px;
}

.btn-show {
    font-size: 3.2rem;
    cursor: pointer;
    margin-bottom: 3%;
}

.user-img {
    height: 50px;
    width: 50px;
    border-radius: 60%;
}